*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ImgMobile{
    display: none;
}
.buttombanner{
    display: none;
}

header{
    width: 100%;
    height: 55px;
    background:linear-gradient(to right,#ec0102,#f22757);
    color: white;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    position: fixed;
}
#headercontainer{
    width:90%;
    margin-left:5% ;
    font-size: 8px;
    

}
/* ola wakatinme */
.baner{
    width: 100%;
    height: 650px;
    background-image: url(/land-page/img/capa--scaled.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}
.container{
    width: 50%;
    height: 45%;
    color: white;
    margin-left: 20%
    
    

} 
.container .foto{
    width: 120px;
    height: 40px;
    background-image:url(/land-page/img/Users-Component-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container .estrelas{
    width: 100px;
    height: 30px;
    background-image: url(/land-page/img/Group-8.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;
}
.container h2{
    width: 400px;
    font-size: 30px;
    margin-bottom: 20px;
}
 .beneficios{
    width: 500px;
    height: 300px;
    /* background-color: rgba(0, 255, 255, 0.356); */
    display: flex;
    gap: 20px;

}
.imgb{
    width: 80px;
    height: 80px;
    
    background-repeat: no-repeat;
    background-size: 100%;
}
#bn{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    gap: 10px;
}
#img01{
    background-image: url(/land-page/img/Frame-1171275054.png);
}
#img02{
    width: 70px;
    background-image: url(/land-page/img/Frame-1171275262.png);
}
#img03{
    background-image: url(/land-page/img/Frame-1171275263.png);
}
#img04{
    background-image: url(/land-page/img/Frame-1171275264.png);
}
#img05{
    background-image: url(/land-page/img/Frame-1171275265.png);
}
#bn p{
    font-weight: bold;
}

#section2{
    display: flex;
    padding-top: 50px;
}
.container2{
    display: flex;
    margin: auto;
    width: 60%;
    
    
}
#div50{
    width: 50%;
}
#botao2{
    width: 250px;
    height: 40px;
    border: 1px, solid #22a087;
    border-radius: 30px;
    text-align: center;
    padding: 7px;
    margin: auto;
    
}
.container2 h2{
    width: 80%;
    font-size: 40px;
    margin: auto;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    
}
.container2 span{
    color: #22a087;
}
#imgm1{
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/land-page/img/Group-1171275447-1024x993.webp);
    margin: auto;
    
}
.chek{
    display: flex;
    flex-direction: column;

}
#a57{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
#a57 p {
    color: #186556;
    font-size: 20px;
    font-weight: bold;
}
.buttomdesk{
    width: 500px;
    height: 60px;
    background-color: gold;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 50px;
    padding: 18px;
    box-shadow: 1px 1px 20px  black;
    font-weight: bold;
}
